@use "../../../styles/variables" as *;

.nexus-tooltip-wrapper {
    display: inline-block;
    position: relative;
    user-select: none;
    
    &.helpable {
        cursor: help;
    }
    
    &.clickable {
        cursor: pointer;
    }
}

.nexus-tooltip-tip {
    position: absolute;
    max-width: 40vw; 
    width: max-content; 
    border-radius: 4px;
    padding: 8px 12px;
    background: $card-bg;
    color: $text-muted;
    font-family: "JetBrains Mono", "Fira Code", monospace;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.9rem;
    line-height: 1.4;
    z-index: 999999 !important;
    white-space: normal; 
    overflow-wrap: break-word; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4);
    pointer-events: none;

    /* Le petit triangle */
    &::before {
        content: "";
        position: absolute;
        border: solid transparent;
        border-width: 5px;
    }

    /* TOP */
    &.top {
        animation: fade-top 0.2s ease-out forwards;
        &::before {
            top: 100%; left: 50%; margin-left: -5px;
            border-top-color: rgba($light, 0.1);
        }
    }

    /* BOTTOM */
    &.bottom {
        animation: fade-bottom 0.2s ease-out forwards;
        &::before {
            bottom: 100%; left: 50%; margin-left: -5px;
            border-bottom-color: rgba($light, 0.1);
        }
    }

    /* LEFT */
    &.left {
        animation: fade-left 0.2s ease-out forwards;
        &::before {
            left: 100%; top: 50%; margin-top: -5px;
            border-left-color: rgba($light, 0.1);
        }
    }

    /* RIGHT */
    &.right {
        animation: fade-right 0.2s ease-out forwards;
        &::before {
            right: 100%; top: 50%; margin-top: -5px;
            border-right-color: rgba($light, 0.1);
        }
    }
}

@keyframes fade-top {
    from { opacity: 0; transform: translate(-50%, calc(-100% + 6px)); }
    to { opacity: 1; transform: translate(-50%, -100%); }
}
@keyframes fade-bottom {
    from { opacity: 0; transform: translate(-50%, -6px); }
    to { opacity: 1; transform: translate(-50%, 0); }
}
@keyframes fade-left {
    from { opacity: 0; transform: translate(calc(-100% + 6px), -50%); }
    to { opacity: 1; transform: translate(-100%, -50%); }
}
@keyframes fade-right {
    from { opacity: 0; transform: translate(-6px, -50%); }
    to { opacity: 1; transform: translate(0, -50%); }
}