@use "../../../styles/variables" as *;

.nexus-tooltip-wrapper {
    display: inline-block;
    position: relative;
    user-select: none;

    &.helpable {
        cursor: help;
    }

    &.clickable {
        cursor: pointer;
    }
}

.nexus-tooltip-tip {
    position: absolute;
    border-radius: 4px;
    padding: 6px 12px;
    color: $light;
    background: $dark-bg;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.75rem;
    z-index: 1000;
    white-space: nowrap;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4);
    pointer-events: none; // Évite de bloquer la souris

    &::before {
        content: "";
        position: absolute;
        border: solid transparent;
        border-width: 5px;
    }

    /* TOP */
    &.top {
        bottom: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
        animation: fade-top 0.2s ease-out;
        &::before {
            top: 100%; left: 50%; margin-left: -5px;
            border-top-color: rgba($light, 0.1);
        }
    }

    /* BOTTOM */
    &.bottom {
        top: calc(100% + 10px);
        left: 50%;
        transform: translateX(-50%);
        animation: fade-bottom 0.2s ease-out;
        &::before {
            bottom: 100%; left: 50%; margin-left: -5px;
            border-bottom-color: rgba($light, 0.1);
        }
    }

    /* LEFT */
    &.left {
        top: 50%;
        right: calc(100% + 10px);
        transform: translateY(-50%);
        animation: fade-left 0.2s ease-out;
        &::before {
            left: 100%; top: 50%; margin-top: -5px;
            border-left-color: rgba($light, 0.1);
        }
    }

    /* RIGHT */
    &.right {
        top: 50%;
        left: calc(100% + 10px);
        transform: translateY(-50%);
        animation: fade-right 0.2s ease-out;
        &::before {
            right: 100%; top: 50%; margin-top: -5px;
            border-right-color: rgba($light, 0.1);
        }
    }
}

/* ANIMATIONS DÉDIÉES POUR GARDER LE CONTEXTE */
@keyframes fade-top {
    from { opacity: 0; transform: translate(-50%, 4px); }
    to { opacity: 1; transform: translate(-50%, 0); }
}
@keyframes fade-bottom {
    from { opacity: 0; transform: translate(-50%, -4px); }
    to { opacity: 1; transform: translate(-50%, 0); }
}
@keyframes fade-left {
    from { opacity: 0; transform: translate(4px, -50%); }
    to { opacity: 1; transform: translate(0, -50%); }
}
@keyframes fade-right {
    from { opacity: 0; transform: translate(-4px, -50%); }
    to { opacity: 1; transform: translate(0, -50%); }
}