@use "../../../styles/variables" as *;

.security-overview {
    flex: 2;
    background: $card-bg;
    border-radius: $radius-lg;
    padding: 1.2rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    max-width: 40vh;

    &.is-loading {
        min-height: 30vw;
        background: rgba(15, 23, 42, 0.4);
    }

    .switch-donut-molecule {
        height: 100%;
        display: flex;
        flex-direction: column;
        background: transparent;
        border: none;
        padding: 0;

        .switch-donut-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .switch-donut-title {
                font-size: 1rem;
                margin-bottom: 1rem;
                border-left: 3px solid rgba(59, 130, 246, 0.5);
            }
        }

        .switch-donut-body {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 20vh;
        }
    }
}
