@use "../../../styles/variables" as *;

.sidebar {
  width: 260px;
  height: 100vh;
  background-color: $dark-bg;
  border-right: 1px solid $card-bg;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-shrink: 0;

  .sidebar-header {
    padding: 2.5rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    .logo-text { font-weight: 800; font-size: 1.4rem; color: $primary; letter-spacing: 2px; }
  }

  .nav-links {
    flex: 1;
    padding: 0 1rem;
    .nav-item {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 12px 16px;
      color: $text-muted;
      border-radius: $radius-md;
      cursor: pointer;
      margin-bottom: 4px;
      transition: 0.2s;

      &:hover { background: $card-bg; color: $text-main; }
      &.active { background: $primary; color: $text-main; font-weight: 600; }
    }
  }

  .sidebar-footer {
    padding: 1.5rem;
    border-top: 1px solid $card-bg;
    .user-box {
        margin-bottom: 1rem;
        .user-label { font-size: 0.7rem; color: $text-muted; text-transform: uppercase; margin: 0; }
        .user-name { color: $text-main; font-weight: 600; margin: 0; }
    }
    .logout-btn {
      width: 100%;
      background: $dark-bg;
      border: none;
      color: $text-main;
      padding: 10px;
      border-radius: $radius-md;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      &:hover { background: $danger; }
    }
  }
}