@use "../../styles/variables" as *;

.nexus-x-page {
  padding: 2rem;
  animation: fadeIn 0.4s ease-out;

  .page-header {
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      color: $primary;
      margin-bottom: 0.5rem;
    }

    .description-header {
      color: $text-muted;
      font-size: 1.1rem;
    }
  }

  .page-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}