@use "../../../styles/variables" as *;

.switch-donut-molecule {
    background-color: $card-bg;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    .switch-donut-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        .switch-donut-title {
            margin: 0;
            color: $light;
            font-size: 1.125rem;
            font-weight: 600;
            border-left: 3px solid $primary;
            padding-left: 0.75rem;
            letter-spacing: 0.5px;
        }
    }

    .switch-donut-body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
    }
}