@use "./styles/variables" as *;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: $text-main;
  background-color: $dark-bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: $dark-bg;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: $primary;
  text-decoration: inherit;
  transition: color 0.2s;

  &:hover {
    color: $primary-hover;
  }
}

h1, h2, h3 {
  margin-top: 0;
  color: $light;
}