@use "../../../styles/variables" as *;

.nexus-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  &-item {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    color: $item-color;
    transition: background 0.2s;

    &:last-child { border-bottom: none; }
    &:hover { background: rgba(255, 255, 255, 0.02); }
  }

  .list-empty {
    color: $icon-color;
    font-style: italic;
    padding: 1rem;
  }
}