@use "../../../styles/variables" as *;

.nexus-chart-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    canvas {
        max-width: 100%;
    }
}